.footer {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #050F25;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top:48px;
  padding-bottom: 120px;
  margin-top: 100px;
}

.footer__title {
  color: #050F25;
  font-family: "Yanone Kaffeesatz";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 16px;
}
.footer__title_2 {
  color: #050F25;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 16px;
  padding-bottom: 30px;
}

.footer__nav__item {
  color: #050F25;
  font-family: "Playfair Display";
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.newsletter {
  position: relative;
  .newsletter-input {
    width: 275px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E1E1E1;
    border-right: none;
    outline: none ;
  }
  .newsletter-button {
    background-color: #050F25;
    color: #FFFFFF;
    border: none;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-left: -2px;
  }
}
