a:hover {
  text-decoration: none !important;
}
.h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 32px;
  text-align: center;
}

.title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #1E1E1E !important;
  font-weight: normal !important;
  &:hover {
    text-decoration: none;
  }
  border-bottom: none !important;
  border-top: none !important;
}
.title--white {
  color: #fff !important;
}

.subtitle {
  text-align: left !important;
  font-size: 22px;
  margin-top: 28px;
}

.gold_subtitle {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: $c-gold;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 14px;
  margin-bottom: 47px;
  padding-bottom: 18px;
  position: relative;
  text-transform: uppercase;

  &:after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: $c-gold;
    display: block;
    position: absolute;
    bottom: 0;
  }
}